<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th style="width: 5%">No</th>
      <th style="width: 15%">Game Name</th>
      <th style="width: 15%">Item</th>
      <th style="width: 15%">Price Total</th>
      <th style="width: 10%">Status</th>
      <th style="width: 15%">Player Name</th>
      <th style="width: 35%">Action</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < transaction.length; i++){ %>
    <tr>
      <td><%= i + 1 %></td>
      <td>
        <ul class="list-inline">
          <li class="list-inline-item">
            <img
              width="48px"
              height="48px"
              src="https://serverstorerv-tbrivan22.b4a.run/uploads/<%= transaction[i].historyVoucherTopup.thumbnail %>"
              alt="thumbnail"
            />
          </li>
        </ul>
        <%= transaction[i].historyVoucherTopup?.gameName %>
        <br />
        <%= transaction[i].historyVoucherTopup?.category %>
      </td>
      <td>
        <%= transaction[i].historyVoucherTopup?.coinQuantity %> <%=
        transaction[i].historyVoucherTopup?.coinName %>
      </td>

      <td><%= transaction[i].value %></td>

      <td>
        <% if(transaction[i].status === "pending" ){ %>
        <span class="badge badge-warning"> Pending </span>
        <% } else if (transaction[i].status === "success"){ %>
        <span class="badge badge-success"> Success </span>
        <% } else { %>
        <span class="badge badge-danger"> Failed </span>
        <% } %>
      </td>

      <td><%= transaction[i]?.player?.name ?? "-" %></td>

      <td>
        <form
          action="/transaction/status/<%= transaction[i]._id %>?status=success&_method=PUT"
          method="POST"
          style="display: inline-block"
        >
          <button class="btn btn-app bg-info" <% if(transaction[i].status !== 'pending' ) { %> disabled <% } %>>
            <i class="fas fa-check"></i>Accept
          </button>
        </form>
        <form
          action="/transaction/status/<%= transaction[i]._id %>?status=failed&_method=PUT"
          method="POST"
          style="display: inline-block"
        >
          <button class="btn btn-app bg-danger" <% if(transaction[i].status !== 'pending' ) { %> disabled <% } %>>
            <i class="fas fa-times-circle"></i>Denied
          </button>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
